.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 0.8rem;
  font-size: 16px;
  cursor: pointer;
}
