.container {
  text-align: center;
  padding: 15px;
  margin: 10px auto;
}

.table {
  border: 1px solid #ececee;
  border-radius: 5px;
  margin: 0 auto;
}

.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  padding: 1rem;
  text-align: left;
}
